<f:layout name="default" />
<f:section name="content">
<h1><f:translate key="blog.headline.delete" /></h1>
<p>
    <f:translate key="blog.delete.are-you-sure" arguments="{1: blog.title}" />
</p>
<f:link.action action="list" class="btn btn-primary">
    <i class="fas fa-times-circle"></i>
    <f:translate key="label.no" />
</f:link.action>
<f:link.action action="delete" arguments="{blog: blog}" class="btn btn-primary">
    <i class="fas fa-check-circle"></i>
    <f:translate key="label.yes" />
</f:link.action>
</f:section>
