<f:layout name="backend" />
<f:section name="content">

  <h1><f:translate key="backend.comment.list.headline" /></h1>

  <f:be.widget.paginate objects="{comments}" as="paginatedComments" configuration="{itemsPerPage: 5}">
    <table class="table table-striped table-hover">
      <f:for each="{paginatedComments}" as="comment">
        <tr>
          <td class="uid">{comment.uid}</td>
          <td class="left">{comment.comment}</td>
          <td class="right">
            <f:format.date format="%d %B %Y">{comment.commentdate}</f:format.date>
          </td>
        </tr>
      </f:for>
    </table>
  </f:be.widget.paginate>

</f:section>
